body {
    width: 100vw;
    background-color: rgb(215, 215, 217);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#changeGrid {
    padding: 10px 20px;
    font-size: 25px;
    margin: 30px 0;
}

#container {
    display: flex;
    flex-wrap: wrap;
    width: 960px;
    height: 960px;
}

.grid {
    background-color: white;
}