* {
    margin: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

a {
    text-decoration: none;
    color: inherit;
}

h1 {
    font-size: 24px;
}

img {
    height: 280px;
}

header {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #f9faf8;
    font-size: 18px;
    background-color: #1F2937;
    padding: 0 15%;
}

.header-links a {
    padding-right: 10px;
}

nav {
    display: flex;
    height: 300px;
    padding-top: 80px;
    padding-bottom: 80px;
    background-color: #1F2937;
    padding: 0 15%;
}

nav button {
    border: none;
    width: 90px;
    background-color: #3882f6;
    border-radius: 5px;
    color: #f9faf8;
    font-size: 15px;
    padding: 8px 18px;
    margin-top: 8px;
}

nav div.left-side{
    align-items: center;
    flex-basis: 50%;
}

nav div.right-side {
    display: flex;
    flex-basis: 50%;
    justify-content: flex-end;
}

.left-side,
.right-side {
    display: flex;
    
}

.text-box {
    display: flex;
    flex-direction: column;
    flex-basis: 300px;
}

.big-text {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
    flex: 1 2 auto;
}

.bottom-text {
    color: #e5e7eb;
}

section {
    display: flex;
    flex-direction: column;
    padding: 25px 15%;
}

.section-info {
    display: flex;
    justify-content: center;
    padding: 30px 0;
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}

.section-img {
    display: flex;
    justify-content: center;
    gap: 80px;
    flex-wrap: wrap;
}

.info-box-img img {
    width: 250px;
    height: 200px;
    border-radius: 10px;
}

.info-box {
    flex-basis: 250px;
}

article {
    display: flex;
    justify-content: center;
    background-color: #e5e7eb;
    padding: 50px 0;
}

article div{
    display: flex;
    flex-direction: column;
    font-size: 36px;
    color: #1f2937;
    width: 600px;
}

article div div {
    display: flex;
    align-items: flex-end;
    margin-top: 8px;
    font-size: 25px;
}

summary {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

.summary-wrapper {
    margin: 100px 0;
}

.blue-summary {
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    padding: 40px 80px;
    border-radius: 10px;
    background-color: #3882f6;
    font-size: 25px;
    color: #e5e7eb;
}

.blue-summary p {
    font-weight: bolder;
}

.text-summary {
    flex-direction: column;
}

.summary-button {
    display: flex;
    justify-content: center;
}

.summary-button button{
    border: 1px solid white;
    width: 120px;
    background-color: #3882f6;
    border-radius: 9px;
    color: #f9faf8;
    font-size: 15px;
    padding: 2px 30px;
    margin-top: 8px;
    height: 40px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 0;
    background-color: #1F2937;
    color: #e5e7eb;
}