@import "https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css";

body {
    width: 80%;
    margin: auto;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 3em;
    padding-top: 20px;
}
.dates {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.asideCard,aside {
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.rest {
    width: 100%;
}

.cv-container {
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    max-width: 600px;
    max-height: 800px;
    color: black;
}

.cv-container strong {
    display: inline-block;
    color: black;
}

.cv-head {
    text-align: center;
    margin-bottom: 10px;
}

.cv-head h1 {
    font-size: 1.5em;
    margin-bottom: 0;
    font-weight: bold;
    margin: 0;
}

.cv-head h2 {
    font-size: 1.2em;
    font-weight: bold;
    margin: 0;
}

.cv-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0px 20px;
}

.cv-lists {
    padding-top: 30px;
}

textarea {
    min-height: 100px;
}

.listWrapper {
    display: flex;
    gap: 10px;
    align-items: center;
}